.main-btn-menu {
    display: inline-block;
    height: 150px;
    width: 100px;
    padding: 65px 5px;
    border-radius: 50px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    margin: 0px 15px;
}

.main-btn-menu:hover {
    border: 2px solid #ffd369;
}
