/* common style */

.pallate-container {
    margin-top: 10px;
}


/* 상단 팔레트 영역 */

.pallate {
    border: 5px dashed #93b3b7;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 5px;
    ;
}

.pallate .origin-thumbnail {
    height: 150px;
    /* width: 150px; */
    margin: auto;
}

.pallate .final-thumbnail {
    height: 150px;
    /* width: 150px; */
    float: right;
}

.pallate .pallate-list {
    display: inline-block;
}

.pallate .color-outer-box {
    padding: 0 10%;
}

.pallate .color-box {
    height: 100px;
}

.pallate .color-box.color1 {
    width: 25%;
    background-color: #637fa0;
}

.pallate .color-box.color2 {
    width: 25%;
    background-color: #394d77;
}

.pallate .color-box.color3 {
    width: 25%;
    background-color: #20262b;
}

.pallate .color-box.color4 {
    width: 25%;
    background-color: #a8b5a1;
}

.pallate .color-hsv {
    margin-bottom: 10px;
    text-align: center;
}

.pallate .color-hex {
    margin-bottom: 10px;
    text-align: center;
}


/* 기능페이지 탭 부분 */
.pallate-nav {
    display: flex;
    float: left;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.pallate-nav li {
    min-width: 100px;
    text-align: center;
}

.pallate-nav li:hover,
.pallate-nav li.active {
    border: 1px solid #e43c5c;
    border-radius: 8px 8px 0px 0px;
    cursor: pointer;
}

.pallate-content .pallate-tab {
    display: none;
    border: 1px solid #000;
}

.pallate-content .pallate-tab.active {
    display: block;
}

/* 각자 컨텐츠 영역 */
.color-pick{
    padding: 10px;
}
.color-pick .origin-thumbnail{
    width: 100%;
}
.color-pick .color-pick-outer-box{
    /* border: 1px solid #000; */
    padding: 0;
}
.color-pick .color-pick-box{
    width: 100%;
    height: 25%;
}
.color-pick .color-pick-box.color1{
    background-color: #637fa0;
}
.color-pick .color-pick-box.color2{
    background-color: #394d77;
}
.color-pick .color-pick-box.color3{
    background-color: #20262b;
}
.color-pick .color-pick-box.color4{
    background-color: #a8b5a1;
}

.color-pick table.emotion{
    width: 100%;
}

.parallelogram {
    transform: skew(-15deg);
}