/* 로그인화면css */

.container_user_login {
    width: 330px;
    height: 280px;
    border-radius: 25px;
    border: 1px double #ccc;
    margin: 20px auto;
    padding: 25px 15px;
    box-sizing: border-box;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}

.login_btn {
    height: 50px;
    background: #ffd369;
    border-radius: 5px;
    border: none;
    font-family: "맑은 고딕";
}

.chk {
    width: 100%;
    text-align: right;
    padding-right: 13px;
    box-sizing: border-box;
}

.chk label {
    font-size: 12px;
    color: #999;
    position: relative;
    top: -3px;
}

#login_id,
#login_pw {
    width: 200px;
    height: 25px;
    border: 1px solid #999;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.lableid {
    font-size: 14px;
    color: #666;
    margin-left: 1px;
    margin-right: 22px;
}

.lablepw {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
    margin-right: 1px;
}


/* 회원가입화면  */

.container_user_reg {
    width: 400px;
    height: 740px;
    border-radius: 25px;
    border: 1px double #ccc;
    margin: 20px auto;
    padding: 25px 15px;
    box-sizing: border-box;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}

.formfield {
    padding-right: 110px;
}

.user_pw_warning {
    font-size: 15px;
    color: red;
}

.btnfield {
    border: none;
    font-family: "맑은 고딕";
}


/* 회원가입확인 */

.container_user_findpw {
    width: 330px;
    height: 280px;
    border-radius: 25px;
    border: 1px double #ccc;
    margin: 20px auto;
    padding: 25px 15px;
    box-sizing: border-box;
    font-family: Dotum, '돋움', Helvetica, sans-serif;
}