{% extends 'index.html' %} {% block content %}



<section id="user_register">
    <div class="container container_user"> //이걸로 틀을 잡야함
        <form name="registerform" action="" method="post" enctype="multipart/form-data">
            <h1>회원가입 하기 </h1> <br>



            <div class="fieldlabel"><label for="user_id" aria-describedby="inputSuccess2Status">아이디 입력</label></div>
            <div class="formfield"><input type="email" name="user_id" id="user_id" maxlength="45" value="" placeholder="이메일아이디 입력"></div>

            <div class="btnfield">
                <input type="button" value="아이디 중복확인" id="testbtn">
            </div>



            <div class="fieldlabel"><label for="user_pw">비밀번호 입력</label></div>
            <div class="formfield">
                <input type="password" name="user_pw" id="user_pw" maxlength="20" autocomplete="off" placeholder="비밀번호 입력">
            </div>
            <div class="fieldlabel"><label for="user_pw_check">비밀번호 확인</label></div>
            <div class="formfield">
                <input type="password" name="user_pw_check" id="user_pw_check" maxlength="20" autocomplete="off" placeholder="비밀번호 재입력">

            </div>
            <div class="user_pw_warning"><label id="user_pw_warning"> </label> </div>




            <div class="fieldlabel"><label for="user_name">이름</label></div>
            <div class="formfield"><input type="text" id="user_name" name="user_name" maxlength="20" value="" placeholder="이름 입력"></div>

            <div class="fieldlabel"><label>성별</label></div>
            <div class="formfield">

                <input type="radio" name="sex" id="sex_m" value="1" alt="1">남자
                <input type="radio" name="sex" id="sex_w" value="2" alt="2">여자


            </div>

            <div class="fieldlabel"><label>생년월일</label></div>

            <div class="formfield">
                <input type="date" name="birthday" id="birthday">
            </div>

            <div class="fieldlabel"><label for="user_job">직업</label></div>
            <div class="formfield">
                <select name="user_job">
                    <option value="noselect">직업을 선택해주세요</option>
                    <option value="student">학생</option>
                    <option value="publisher">퍼블리셔</option>
                    <option value="developer">개발자</option>
                    <option value="product manager">기획자</option>
                    <option value="admin">관리자</option>
                    <option value="something">무직</option>
                </select>
            </div>


            <div class="fieldlabel"><label for="user_company">회사</label></div>
            <div class="formfield"><input type="text" id="user_company" name="user_company" maxlength="20" value="" placeholder="회사이름 입력">
            </div>
            <br>

            <div class="btnfield">


                <button type="button" class="btn btn-primary btn-lg active" name="user_reg_submit" id="user_reg_submit">회원가입</button>



            </div>

        </form>

    </div>
</section>

<script>
    $(document).ready(function() {

        $("#testbtn").click(function() {
            // 실행문
            var user_id = $("#user_id");
            var user_pw = $("#user_pw");
            var user_id_value = user_id.val()
            var email_re = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
            //console.log(user_pw);
            if (user_id.val() == "") {
                alert("아이디를 입력하세요");
                user_id.focus();
                return;
            } else if (!email_re.test(user_id_value)) {
                alert("이메일 형식으로 입력하세요");
                user_id.focus();
                return;
            }

            $.ajax({
                url: "{% url 'register/idcheck' %}",
                method: "post",
                data: {
                    'user_id': user_id_value,
                },
                dataType: 'text',
                success: function(data) {

                    if (data != 0) {
                        alert("사용하실 수 있는 아이디 입니다.");
                        user_pw.focus();
                    } else {
                        alert("사용중인 아이디 입니다.");
                        user_id.focus();

                    };
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });


        $("#user_pw_check").keyup(function() {
            //비밀번호 비교
            var user_pw = $("#user_pw");
            var user_pw_value = user_pw.val();

            var user_pw_check = $("#user_pw_check");
            var user_pw_check_value = user_pw_check.val();

            var warning = $("#user_pw_warning");

            console.log('pw:', user_pw_value);
            console.log('pw_check', user_pw_check_value);

            if (user_pw_value == user_pw_check_value) {
                //console.log(user_pw_value);
                //console.log(user_pw_check_value);
                //console.log("!!!!!!!!!");

                warning.text("사용하셔도 됩니다."); // 파랑색으로 변경

            } else {
                //console.log(user_pw_value);
                //console.log(user_pw_check_value);
                //console.log("@@@@@@");

                warning.text("비밀번호가 다릅니다."); // 빨강색으로 변경 
            };
        });





        $("#user_reg_submit").click(function() {
            //다 입력 되었으면 db에 insert 

            var user_name = $("#user_name").val();
            var sex_val = $('input[name="sex"]:checked').val();
            var birthday = $("#birthday").val();
            var job = $('select[name="user_job"]').val();
            var company = $("#user_company").val();
            var user_id = $("#user_id");
            var user_id_value = user_id.val()
            var email_re = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
            var user_pw = $("#user_pw");
            var user_pw_value = user_pw.val();
            var user_pw_check = $("#user_pw_check");
            var user_pw_check_value = user_pw_check.val();


            if (user_id.val() == "") {
                alert("아이디를 입력하세요");
                user_id.focus();
                return;
            } else if (!email_re.test(user_id_value)) {
                alert("이메일 형식으로 입력하세요");
                user_id.focus();
                return;
            } else if (user_pw_value != user_pw_check_value) {
                alert("입력하신 비밀번호가 다릅니다."); // 파랑색으로 변경
                return;
            } else if (user_pw_value == "") {
                alert("비밀번호를 입력해주세요."); // 빨강색으로 변경 
                return;
            } else if (user_name == "") {
                alert("이름을 입력하세요");
                $("#user_name").focus();
                return;
            } else if ($('input[name="sex"]:checked').length == 0) {
                console.log(sex_val)
                alert("성별을 입력하세요")
                $('input[name="sex"]:checked').focus();
                return;
            } else if (birthday == "") {
                alert("생년월일을 입력하세요")
                $("#birthday").focus();
                return;
            } else if (job == "noselect") {
                alert("직업을 입력하세요")
                $('select[name="user_job"]').focus();
                return;
            } else if (company == "") {
                alert("회사를 입력하세요")
                $("#user_company").focus();
                return;
            }


            $.ajax({
                url: "{% url 'register/insert_user' %}",
                method: "post",
                data: {
                    'user_id': user_id_value,
                    'password': user_pw_value,
                    'user_name': user_name,
                    'sex': sex_val,
                    'birth': birthday,
                    'job': job,
                    'company': company,

                },
                dataType: 'text',
                success: function(data) {
                    console.log('탓타 시부레', data);

                },
                error: function(data) {
                    console.log(data);
                }
            });






        });

    });     

    
    

</script>

{% endblock %}