{% extends 'index.html' %} {% block content %}
<section id="user_logout">
<h3>로그아웃 되었습니다. 메인으로 이동 중</h3>


</section>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'login/logout' %}",
            success: function(url) {
                //홈화면 변경전에 빈화면에서 세션,쿠키 제거
                sessionStorage.removeItem("login_data"); 
                location.href = "{% url 'main' %}"
            },
            error: function(url) {
                console.log("이미 지워져서 오류");
            }
        });
    });
</script>
{% endblock %}