{% extends 'index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지 </title>




</head>
<body>
    <div class="main"> 
        <div class="body">
        <form action="" method="POST">

        <h1>로그인 하기 </h1> <br>

        <div class = "text">
            ID : 
        </div>
        <div class="c_box">
            <input type="text" id ="login_id" name="login_id"><br>
        </div>

        <div class ="text">
            PASSWORD:
        </div>
        <div class="c_box">
            <input type="password" id="login_pw" name="login_pw">
        </div>
        <br>

        <input type="submit" value="로그인"> <input type="button" value="회원가입" onclick="location.href='masterpiece\templates\user\user_register.html'">
        <input type="button" value="비밀번호 찾기" onclick="location.href='아직안만듬'">

    </form>
    </div>
    </div>


</body>
</html>

