{% extends 'index.html' %} {% block content %}
<section id="user_login">

    <div class="container container_user_login">

        <div class="main">
            <div class="body">

                <h3>로그인 하기 </h3> <br>

                <form action="#" method="POST">
                    <div class="chk">
                        <label for="loginid" class="lable_id"> ID :</label>
                        <input type="text" id="login_id" name="login_id"><br>
                        <label for="loginpw" class="lable_pw"> PASSWORD:</label>
                        <input type="password" id="login_pw" name="login_pw">
                    </div>
                    <br>

                    <input class="login_btn" type="button" id="go_login" value="로그인">
                    <input class="login_btn" type="button" id="go_reg" value="회원가입">
                    <input class="login_btn" type="button" id="findpw" value="비밀번호 변경">
                </form>
            </div>
        </div>
    </div>



</section>
<script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script>
    $(document).ready(function() {
        $("#go_login").click(function() {
            //console.log("클릭 확인")
            var login_id = $("#login_id").val();
            var login_pw = $("#login_pw").val();
            $.ajax({
                url: "{% url 'login/login_go' %}",
                method: "post",
                data: {
                    'user_id': login_id,
                    'password': md5(login_pw),
                },
                dataType: 'json',
                success: function(data) {
                    if (data['user_id'] == login_id) {
                        //alert("로그인 성공 하였습니다.");
                        //console.log(data)
                        sessionStorage.setItem('login_data', JSON.stringify(data));
                        location.href = "{% url 'main' %}"
                    } else {
                        alert("로그인 실패하였습니다.");
                    };
                },
                error: function(data) {}
            });
        });
        $("#go_reg").click(function() {
            //console.log("회원가입 눌리나 확인")
            location.href = "{% url 'register' %}"
        });

        $("#findpw").click(function() {
            //console.log("비밀번호찾기 눌리나 확인")
            location.href = "{% url 'findpw' %}"
        });












    });
</script>


{% endblock %}