<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 화면</title>
</head>
<body>
    <form name="registerform" action="" method="post" enctype="multipart/form-data">
    <div class="fieldlabel"><label for="user_id">아이디(email 형식)</label></div>  
    <div class="formfield"><input type="text" name="user_id" id="user_id"maxlength="20" value="" ></div>
    <div class="fieldlabel"><label for="user_pw">비밀번호</label></div>
    <div class="formfield">
        <input type="password" name="user_pw" id="user_pw" maxlength="20" autocomplete="off">
        </div>
    <div class="fieldlabel"><label for="user_pw_check">비밀번호 확인</label></div>
    <div class="formfield">
        <input type="password" name="user_pw_check" id="user_pw_check" maxlength="20" autocomplete="off">
        </div>
    
    <div class="fieldlabel"><label for="userName">이름</label></div>
    
    
    
    
    
    </form>



</body>
</html>