{% extends 'index.html' %} {% block content %}
<section id="user_logout">

</section>
<script>
    $(document).ready(function() {
        $.ajax({
            url: "{% url 'login/logout' %}",
            success: function(url) {
                //console.log("로그아웃 눌리나 확인", url);
                //로그인 화면에서 세션제거
                sessionStorage.removeItem("login_data"); 
                location.href = "{% url 'main' %}"
            },
            error: function(url) {
                console.log("이미 지워져서 오류");
            }
        });
    });
</script>


{% endblock %}