{% extends 'index.html' %} {% block content %}



<section id="user_register">
    <div class="container login-page">
        <div class="login-page">
            <div class="form">
                <form action="#" method="POST" class="login-form">
                    <h3>회원가입</h3> <br>
                    <input type="email" class="inputstyle" name="user_id" id="user_id" maxlength="45" value="" placeholder="이메일아이디 입력">
                    <input type="button" class="user_btn" value="아이디 중복확인" id="testbtn"> &nbsp;
                    <input type="password" class="inputstyle" name="user_pw" id="user_pw" maxlength="20" autocomplete="off" placeholder="비밀번호 입력">
                    <input type="password" class="inputstyle" name="user_pw_check" id="user_pw_check" maxlength="20" autocomplete="off" placeholder="비밀번호 재입력">
                    <div class="user_pw_warning"><label class="user_pw_warning" id="user_pw_warning"> </label> </div>
                    <input type="text" class="inputstyle" id="user_name" name="user_name" maxlength="20" value="" placeholder="이름 입력">
                    <label class="inputstyle">성별 선택해주세요</label>
                    <div class="formfield" id="sex">
                        <input type="radio" name="sex" id="sex_m" value="1" alt="1">남자
                        <input type="radio" name="sex" id="sex_w" value="2" alt="2">여자
                    </div>
                    <label class="inputstyle">생년월일 선택해주세요</label>
                    <div class="formfield">
                        <input type="date" class="inputstyle" name="birthday" id="birthday">
                    </div>

                    <div class="formfield">
                        <select name="user_job" class="inputstyle">
                    <option value="noselect">직업을 선택해주세요</option>
                    <option value="student">학생</option>
                    <option value="publisher">퍼블리셔</option>
                    <option value="developer">개발자</option>
                    <option value="product manager">기획자</option>
                    <option value="admin">관리자</option>
                    <option value="something">무직</option>
                </select>
                    </div>
                    <input type="text" class="inputstyle" id="user_company" name="user_company" maxlength="20" value="" placeholder="회사이름 입력">
                    <br>
                    <div class="btnfield">
                        <button type="button" class="user_btn" name="user_reg_submit" id="user_reg_submit">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>
</section>

<script>
    $(document).ready(function() {
        $("#testbtn").click(function() {
            var user_id = $("#user_id");
            var user_pw = $("#user_pw");
            var user_id_value = user_id.val()
            var email_re = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;


            if (user_id.val() == "") {
                alert("아이디를 입력하세요");
                user_id.focus();
                return;
            } else if (!email_re.test(user_id_value)) {
                alert("이메일 형식으로 입력하세요");
                user_id.focus();
                return;
            }

            $.ajax({
                url: "{% url 'register/idcheck' %}",
                method: "post",
                data: {
                    'user_id': user_id_value,
                },
                dataType: 'text',
                success: function(data) {
                    if (data != 0) {
                        alert("사용하실 수 있는 아이디 입니다.");
                        user_pw.focus();
                    } else {
                        alert("사용중인 아이디 입니다.");
                        user_id.focus();
                    };
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });


        $("#user_pw_check").keyup(function() {
            var user_pw = $("#user_pw");
            var user_pw_value = user_pw.val();
            var user_pw_check = $("#user_pw_check");
            var user_pw_check_value = user_pw_check.val();
            var password_re = /^[a-zA-z0-9]{4,12}$/;
            var warning = $("#user_pw_warning");

            if (!password_re.test(user_pw_check_value)) {
                warning.text("비밀번호는 영문 대소문자와 숫자 4~12로 입력 해야합니다.");
                return;
            } else if (user_pw_value == user_pw_check_value) {
                warning.text("사용하셔도 됩니다.");
                return;
            } else if (user_pw_value != user_pw_check_value) {
                warning.text("비밀번호가 다릅니다.");
                return;
            }

        });





        $("#user_reg_submit").click(function() {
            var user_name = $("#user_name").val();
            var user_name_re = /^[가-힣]{2,4}$/;
            var sex_val = $('input[name="sex"]:checked').val();
            var birthday = $("#birthday").val();
            var job = $('select[name="user_job"]').val();
            var company = $("#user_company").val();
            var user_id = $("#user_id");
            var user_id_value = user_id.val()
            var email_re = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
            var password_re = /^[a-zA-z0-9]{4,12}$/;
            var user_pw = $("#user_pw");
            var user_pw_value = user_pw.val();
            var user_pw_check = $("#user_pw_check");
            var user_pw_check_value = user_pw_check.val();


            if (user_id.val() == "") {
                alert("아이디를 입력하세요");
                user_id.focus();
                return;
            } else if (!email_re.test(user_id_value)) {
                alert("이메일 형식으로 입력하세요");
                user_id.focus();
                return;
            } else if (user_pw_value != user_pw_check_value) {
                alert("입력하신 비밀번호가 다릅니다.");
            } else if (user_pw_value == "") {
                alert("비밀번호를 입력해주세요.");
                return;
            } else if (!password_re.test(user_pw_value)) {
                alert("비밀번호는 영문 대소문자와 숫자 4~12로 입력 해야합니다.");
                return;
            } else if (user_name == "") {
                alert("이름을 입력하세요");
                $("#user_name").focus();
                return;
            } else if (!user_name_re.test(user_name)) {
                alert("한글이름을 입력하세요");
                $("#user_name").focus();
                return;
            } else if ($('input[name="sex"]:checked').length == 0) {
                console.log(sex_val)
                alert("성별을 입력하세요")
                $('input[name="sex"]:checked').focus();
                return;
            } else if (birthday == "") {
                alert("생년월일을 입력하세요")
                $("#birthday").focus();
                return;
            } else if (job == "noselect") {
                alert("직업을 입력하세요")
                $('select[name="user_job"]').focus();
                return;
            } else if (company == "") {
                alert("회사를 입력하세요")
                $("#user_company").focus();
                return;
            }

            $.ajax({
                url: "{% url 'register/idcheck' %}",
                method: "post",
                data: {
                    'user_id': user_id_value,
                },
                dataType: 'text',
                success: function(data) {
                    if (data != 0) {
                        alert("사용하실 수 있는 아이디 입니다.");
                        user_pw.focus();
                    } else {
                        alert("사용중인 아이디 입니다.");
                        user_id.focus();

                    };
                },
                error: function(data) {
                    console.log(data);
                }
            });

            $.ajax({
                url: "{% url 'register/insert_user' %}",
                method: "post",
                data: {
                    'user_id': user_id_value,
                    'password': md5(user_pw_value),
                    'user_name': user_name,
                    'sex': sex_val,
                    'birth': birthday,
                    'job': job,
                    'company': company,
                },
                dataType: 'text',
                success: function(data) {
                    console.log('회원가입 성공', data);
                    alert("회원가입에 성공하였습니다.")
                    location.href = "{% url 'login' %}"
                },
                error: function(data) {
                    console.log(data);
                }
            });
        });
    });
</script>

{% endblock %}