{% extends 'index.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="image-list">
<div class="container">
    <div class="row emotion">
        <div class="db-filter">
            <ul class="emotion-filter clearfix">
                <li class="filter-row">
                    <div class="title">
                        <span>화가</span>
                    </div>
                    <div class="value">
                        <label class="checkbox">
                            <input type="checkbox" name="artist" value="goh">
                            <span title="goh">고흐</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="artist" value="mon">
                            <span title="mon">모네</span>
                        </label>
                    </div>
                </li>
                <li class="filter-row">
                    <div class="title">
                        <span>스타일</span>
                    </div>
                    <div class="value">
                        <label class="checkbox">
                            <input type="checkbox" name="style" value="cd">
                            <span title="cd">색상입히기</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" name="style" value="mp">
                            <span title="mp">명화화</span>
                        </label>
                    </div>
                </li>
                <li class="filter-row">
                    <button onclick="image_filter()">검색</button>
                </li>
            </ul>
        </div>
        <div class="content-list">

            여기가 리스트 나올 영역
        </div>
    </div>
</div>
</section>

<script src="/masterpiece/static/js/image-list.js"></script>

{% endblock %}