<div class="row ch-wrap">
    <div class="col-md-6 ch-inout-box">
          
        <div class="ch-image-upload-wrap ch-image-wrap">
            <input class="ch-file-upload-input" id="ch_input_image" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="ch-image-plus"> + </div>
        </div>

        <div class="ch-file-upload-content container">
            <div class="row ch-file-upload-box">
                <img class="ch-file-upload-image ch-image rounded" src="#" alt="your image" />
            </div>
            <div class="ch-image-title-wrap row">
                <button type="button" class="btn btn-outline-danger col-md-5 ch-image-btn" onclick="removeUpload()">취소</button>
                <button type="button" class="btn btn-outline-info col-md-6 ch-image-btn" onclick="setImage()">명화로 만들기</button>
            </div>
        </div>

    </div>

    <div class="col-md-6 ch-inout-box">
        <div class="ch-file-output-content container" id="ch_output_image_container">
            <div class="row ch-file-image-icon-box">
                <img src="masterpiece/static/image/image_icon.png" class="ch-image-icon">
            </div>
        </div>
    </div>

</div>
<script src="/masterpiece/static/js/ch-style.js"></script>


