<div class="row color-pick">
    <div class="col-md-6 polaroid">
        <p>색상을 추출하실 이미지 파일을 선택해 주세요.</p>
        <img src="/masterpiece/static/image/starlight.jpeg" alt="썸네일" class="origin-thumbnail rounded">
        <div class="upload-input-box">
            <input type="file" class="origin-image-file" accept=".jpg,.jpeg,.png" onchange="origin_thumbnail(this)">
            <button class="btn btn-outline-danger" id="color_pick">색상 뽑기</button>
            <button class="btn btn-outline-danger" id="color_insert">색상 저장</button>
        </div>
    </div>
    <div class="col-md-1 color-pick-outer-box">
        <div class="color1 color-pick-box">
            <span class="hex1"  onclick="copy(this)">#637fa0</span>
        </div>
        <div class="color2 color-pick-box">
            <span class="hex2"  onclick="copy(this)">#394d77</span>
        </div>
        <div class="color3 color-pick-box">
            <span class="hex3"  onclick="copy(this)">#20262b</span>
        </div>
        <div class="color4 color-pick-box">
            <span class="hex4"  onclick="copy(this)">#a8b5a1</span>
        </div>
    </div>
    <div class="col-md-4 color-pick-info">
        <table class="color-pick-emotion table">
            <thead>
                <tr>
                    {% comment %} <th scope="col"></th> {% endcomment %}
                    <th scope="col" colspan="2">색상 감성분석</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">색상</th>
                    <td class="color_pred">azure</td>
                </tr>
                <tr>
                    <th scope="row">계절</th>
                    <td class="season_pred">winter</td>
                </tr>
                <tr>
                    <th scope="row">톤</th>
                    <td class="cw_pred">cool</td>
                </tr>
                <tr>
                    <th scope="row">채도</th>
                    <td class="cp_pred">pastel</td>
                </tr>
                <tr>
                    <th scope="row">명암</th>
                    <td class="value_pred">low</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>