<div class="row color-dress">
    <div class="col-md-5">
        <p>색상을 입힐 이미지 파일을 업로드 해주세요.</p>
        <div class="row">
            <img src="/masterpiece/static/image/grim.png" alt="색상입힐이미지" class="color-dress-image">
        </div>
        <br>

        <!-- <input type="file" class="origin-image-file" accept=".jpg,.jpeg,.png" onchange="origin_thumbnail(this)"> -->
        <input type="file"  accept=".jpg,.jpeg,.png" onchange="color_dress_image(this); origin_thumbnail(this)">
        <br>
        <br>
        <button onclick="color_pick()">색상 뽑기</button>
    </div>
    
    <div class="col-md-2">
        <p>색상 4가지 보여줄곳</p>
        <div class="color1 diamond-shield"></div>
        <div class="color2 diamond-shield"></div>
        <div class="color3 diamond-shield"></div>
        <div class="color4 diamond-shield"></div>
    </div>

    <div class="col-md-5">
        <p>결과이미지 나오는곳</p>
        이미지 다운로드 버튼 만들기<br>
        다운로드 버튼 누르면 이미지 다운로드 되고, 자동으로 DB 및 갤러리 저장하기
    </div>

</div>
