{% extends 'index.html' %}

{% block content %}
<section id="pallate">
    <div class="container pallate-container">

        <div class="row">
            <div class="pallate col-md-12">
                <div class="pallate-list col-md-3">
                    <div class="row">
                        <img src="/masterpiece/static/image/starlight.jpeg" alt="썸네일" class="origin-thumbnail">
                    </div>
                    <!-- <div class="row">
                        <input type="file" class="origin-image-file" accept=".jpg,.jpeg,.png">
                    </div> -->
                </div><div class="pallate-list color-outer-box col-md-9">
                    <div class="row parallelogram">
                        <div class="color-box color1"></div>
                        <div class="color-box color2"></div>
                        <div class="color-box color3"></div>
                        <div class="color-box color4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 color-hsv hsv1">(213,38,63)</div>
                        <div class="col-md-3 color-hsv hsv2">(221,52,47)</div>
                        <div class="col-md-3 color-hsv hsv3">(208,26,17)</div>
                        <div class="col-md-3 color-hsv hsv4">(99,11,71)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 color-hex hex1"><span onclick="copy(this)">#637fa0</span></div>
                        <div class="col-md-3 color-hex hex2"><span onclick="copy(this)">#394d77</span></div>
                        <div class="col-md-3 color-hex hex3"><span onclick="copy(this)">#20262b</span></div>
                        <div class="col-md-3 color-hex hex4"><span onclick="copy(this)">#a8b5a1</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <ul class="pallate-nav">
                <li class="active" data-page="1">색상뽑기</li>
                <li data-page="2">감성분석</li>
                <li data-page="3">색상입히기</li>
                <li data-page="4">명화화</li>
            </ul>
        </div>

        <div class="pallate-content row">
                <!-- 색상뽑기 -->
            <div class="pallate-tab col-md-12 active" data-page="1">
                {% include 'pallate/color_pick.html' %}
                
            </div>
            <!-- 감성분석 -->
            <div class="pallate-tab col-md-12" data-page="2"> {% include 'pallate/emotion.html'%} </div>
            <!-- 색상 입히기 -->
            <div class="pallate-tab col-md-12" data-page="3"> {% include 'pallate/color_dress.html'%} </div>
            <!-- 명화화 -->
            <div class="pallate-tab col-md-12" data-page="4"> {% include 'pallate/ch_style.html'%} </div>
        </div>
    </div>
</section>

<script src="/masterpiece/static/js/pallate.js"></script>

{% endblock %}
