{% extends 'index.html' %}

{% block content %}
<section id="color_gallery">
    <div class="container gallery-container">
        필터<br>
        
        유저 : 
        <input type="radio" name="user_only" id="">모두
        <input type="radio" name="user_only" id="">내 갤러리<br>
        
        성별 : 
        <input type="checkbox" name="sex_male" id="">남자
        <input type="checkbox" name="sex_female" id="">여자<br>
        
        나이 :  (여기 어떻게 하누?)
        <br><br>
        
        
        온도 : 
        <input type="checkbox" name="cw_cool" id="">따뜻한
        <input type="checkbox" name="cw_warm" id="">시원한<br>
        
        계절 : 
        <input type="checkbox" name="season_spring" id="">봄
        <input type="checkbox" name="season_summer" id="">여름
        <input type="checkbox" name="season_autumn" id="">가을
        <input type="checkbox" name="season_winter" id="">겨울<br>
        
        색톤 : 
        <input type="checkbox" name="cw_cool" id="">파스텔
        <input type="checkbox" name="cw_warm" id="">비비드<br>
        
        밝기 : 
        <input type="checkbox" name="value_high" id="">밝은
        <input type="checkbox" name="value_low" id="">어두운<br><br>
        
        정렬
        <select name="sorting" id="">
            <option value="sotring_date"/>최신순
            <option value="sotring_like"/>좋아요순
            <option value="sotring_view"/>클릭순
        </select> 
        <br><br>
            
        여기에 사진들이 한 20개 들어감<br>
        <a href="{% url 'color_gallery_detail' %}" class="scrollto main-btn-menu">사진1, </a>
        사진2, 사진3...<br>
        하트그림, 하트수 36개, today(저장된 날짜)<br>
        사실 얘들이 아래가 아니라 4열 5행 등으로 구성<br>
        
        <br><br>
        여기에 1,2,3...20 페이징
    </div>
</section>
{% endblock %}
