<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post_create</title>
</head>
<body>
    <div>
        <h3>form 생성 방법</h3>
        1. models.py에서 form class 정의 (속성 정의)
        2. forms.py생성 후 field정의
        3. views.py에서 request method에 따라 form을 정의, 입력값 처리 코드 작성
        4. urls.py 등록
        5. form html 생성, 뼈대 만들기
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">확인</button>
    </form>
</body>
</html>