<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>select_res</title>
</head>
<style>
    td {
        padding : 30px 0px;
        color: #D8D8D8;
        text-align: center;
      }
    
    .rl-padding {
        padding: 0px 25px;
    }

    .color-wrap {
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 5px 5px 5px gray;
    }

    .color-box {
        width: 100px; 
        height: 70px; 
        display:inline-block;
    }

    .hex-table {
        width: 100%;
        height: 100%;
        text-align: center;
    }
</style>
<body>
    <table>
        <tr>
            <td>idx</td><td>color</td><td>cp</td><td>cw</td><td>season</td><td>value</td><td>작성자</td><td>색상</td><td>삭제</td>
        </tr>
        
        {% for value in test_list %}
        <tr>
            <td class="rl-padding">{{value.idx}}</td>
            <td class="rl-padding">{{value.color}}</td>
            <td class="rl-padding">{{value.cp}}</td>
            <td class="rl-padding">{{value.cw}}</td>
            <td class="rl-padding">{{value.season}}</td>
            <td class="rl-padding">{{value.value}}</td>
            <td class="rl-padding">{{value.made}}</td>
            <td>
                <div>
                    <div class="color-wrap">
                        <div style="background-color: {{ value.hex1 }};" class="color-box"></div><div style="background-color: {{ value.hex2 }};" class="color-box"></div><div style="background-color: {{ value.hex3 }};" class="color-box"></div><div style="background-color: {{ value.hex4 }};" class="color-box"></div>
                    </div>
                    <div class="hex-wrap">
                        <table class="hex-table">
                            <tr>
                                <td>{{ value.hex1 }}</td>
                                <td>{{ value.hex2 }}</td>
                                <td>{{ value.hex3 }}</td>
                                <td>{{ value.hex4 }}</td>
                            </tr>
                        </table>   
                    </div>
                </div>
            </td>
            <!-- <td><div style="background-color: {{ value.hex1 }}; width: 100px; height: 50px;"></div>{{ value.hex1 }}</td>
            <td><div style="background-color: {{ value.hex2 }}; width: 100px; height: 50px;"></div>{{ value.hex2 }}</td>
            <td><div style="background-color: {{ value.hex3 }}; width: 100px; height: 50px;"></div>{{ value.hex3 }}</td>
            <td><div style="background-color: {{ value.hex4 }}; width: 100px; height: 50px;"></div>{{ value.hex4 }}</td> -->
            <td class="rl-padding">
                <a href="{% url 'delete_res' %}?idx={{value.idx}}" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
<script>
</script>
</html>
