<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="{% url 'main'  %}">Tempo</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            {% if request.path != '/' and request.path != '/main/' %}
                <li {% if request.path == '/pallate/color_pick/'%} class="active" {% endif %}><a href="{% url 'color_pick' %}">색상뽑기</a></li>
                <li><a href="{% url 'ch_style' %}">감성분석</a></li>
                <li><a href="{% url 'ch_style' %}">색상입히기</a></li>
                <li {% if request.path == '/pallate/ch_style/'%} class="active" {% endif %}><a href="{% url 'ch_style' %}">명화화</a></li>
                <li><a href="{% url 'ch_style' %}">색상</a></li>
                <li><a href="{% url 'ch_style' %}">이미지</a></li>
            {% endif %}

            {% if request.session.user_id %}
                <li><a href="" >로그아웃</a></li>
            {% else %}
                <li><a href="{% url 'register' %}" >회원가입</a></li>
                <li><a href="{% url 'login' %}" >로그인</a></li>
            {% endif %}

        </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->
