<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center {% if request.path != '/' and request.path != '/main'%} header-scrolled {% endif %}">

        <h1 class="logo mr-auto">
            <a href="{% url 'main'  %}" {% if request.path != '/' and request.path != '/main'%}style="color: #493c3e;"{% endif %}>GIGJ</a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
        <ul>
            {% if request.path != '/' and request.path != '/main' %}
                <li {% if request.path == '/pallate'%} class="active" {% endif %}><a href="{% url 'pallate' %}">기능</a></li>
                <li><a href="{% url 'pallate' %}">색상</a></li>
                <li><a href="{% url 'pallate' %}">이미지</a></li>
            {% endif %}

            {% if request.session.user_id %}
               
                <li><a href="{% url 'logout' %}" >로그아웃</a></li>

            {% else %}
                <li><a href="{% url 'register' %}" >회원가입</a></li>
                <li><a href="{% url 'login' %}" >로그인</a></li>
            {% endif %}

        </ul>
        </nav><!-- .nav-menu -->
    </div>
</header><!-- End Header -->
