{% extends 'index.html' %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <h3><strong>그림이나그리조</strong></h3>
        <h1>너의 그림을 명화화 하고 싶은가?</h1>
        <h2>그럼 해봐</h2>
    </div>
    <div class="hero-container-btn">
        <a href="{% url 'colorpick' %}" class="scrollto main-btn-menu">색상뽑기</a>
        <a href="{% url 'ch_style' %}" class="scrollto main-btn-menu">감성분석</a>
        <a href="{% url 'ch_style' %}" class="scrollto main-btn-menu">색상 입히기</a>
        <a href="{% url 'ch_style' %}" class="scrollto main-btn-menu">명화화</a>
        <a href="{% url 'color_gallery' %}" class="scrollto main-btn-menu">색상 갤러리</a>
        <a href="{% url 'ch_style' %}" class="scrollto main-btn-menu">이미지 리스트</a>
    </div>
    </section><!-- End Hero -->

    <main id="main">

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

        <div class="section-title">
            <h2>Services</h2>
            <h3>We do offer awesome <span>Services</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">Magni Dolores</a></h4>
                <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Nemo Enim</a></h4>
                <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
            </div>

        </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-6 col-6">
            <div class="icon-box">
                <i class="ri-store-line" style="color: #ffbb2c;"></i>
                <h3><a href="">Lorem Ipsum</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
            <div class="icon-box">
                <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
                <h3><a href="">Dolor Sitema</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4 mt-md-0">
            <div class="icon-box">
                <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                <h3><a href="">Sed perspiciatis</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4 mt-lg-0">
            <div class="icon-box">
                <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                <h3><a href="">Magni Dolores</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-database-2-line" style="color: #47aeff;"></i>
                <h3><a href="">Nemo Enim</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                <h3><a href="">Eiusmod Tempor</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                <h3><a href="">Midela Teren</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                <h3><a href="">Pira Neve</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-anchor-line" style="color: #b2904f;"></i>
                <h3><a href="">Dirada Pack</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-disc-line" style="color: #b20969;"></i>
                <h3><a href="">Moton Ideal</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-base-station-line" style="color: #ff5828;"></i>
                <h3><a href="">Verdo Park</a></h3>
            </div>
            </div>
            <div class="col-lg-3 col-md-4 col-6 mt-4">
            <div class="icon-box">
                <i class="ri-fingerprint-line" style="color: #29cc61;"></i>
                <h3><a href="">Flavor Nivelanda</a></h3>
            </div>
            </div>
        </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <h3>Check our <span>Portfolio</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">App</li>
                <li data-filter=".filter-card">Card</li>
                <li data-filter=".filter-web">Web</li>
            </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                <a href="{% url 'main' %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="masterpiece/static/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <a href="masterpiece/static/assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
            </div>

        </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

        <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <div class="member-img">
                <img src="masterpiece/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                </div>
                </div>
                <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <div class="member-img">
                <img src="masterpiece/static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                </div>
                </div>
                <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <div class="member-img">
                <img src="masterpiece/static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                </div>
                </div>
                <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                </div>
            </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
                <div class="member-img">
                <img src="masterpiece/static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                    <a href=""><i class="icofont-twitter"></i></a>
                    <a href=""><i class="icofont-facebook"></i></a>
                    <a href=""><i class="icofont-instagram"></i></a>
                    <a href=""><i class="icofont-linkedin"></i></a>
                </div>
                </div>
                <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                </div>
            </div>
            </div>

        </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

{% endblock %}